.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
}

.employeeOfTheMonth {
  text-align: center;
}

.employeeOfTheMonth img {
  width: 345px;
  border-radius: 100%;
}

.employeeOfTheMonth div button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 6rem;
  border-radius: 3px;
  cursor: pointer;
}
