.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
}

.employeeOfTheMonth {
  text-align: center;
}

.employeeOfTheMonth img {
  width: 369px;
  border-radius: 100%;
}

.employeeOfTheMonth div button {
  appearance: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-left: 6rem;
  display: block;
  box-align: center;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  width: auto;
}
